@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

root,
body,
html {
  height: 100%;
  font-family: "Lato", sans-serif;
}
#zone1 {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(156, 2, 174);

  background: linear-gradient(
    135deg,
    rgba(156, 2, 174, 1) 0%,
    rgba(250, 2, 160, 1) 100%
  );
}
#zone1 h1 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -210px;
  width: 430px;
  height: 40px;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
}
#zone1 img {
  display: block;
  width: 50px;
  height: 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 30px;
  margin-left: -25px;
}

#zone2 {
  background: rgb(178, 225, 255);

  background: linear-gradient(
    135deg,
    rgba(178, 225, 255, 1) 0%,
    rgba(102, 182, 252, 1) 100%
  );
  height: 650px;
}

#zone2 h1 {
  color: white;
  position: absolute;
  right: 100px;
  margin-top: 150px;
  max-width: 40%;
  z-index: 3;
}
#zone2 .special {
  color: #ffde8a;
}

#zone3 {
  background: rgb(255, 197, 120);

  background: radial-gradient(
    ellipse at center,
    rgba(255, 197, 120, 1) 0%,
    rgba(251, 157, 35, 1) 100%
  );
  width: 100%;
  height: 100%;
}
#zone3 #container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
#zone3 h1 {
  color: white;
  position: absolute;
  top: -10px;
  left: 28%;
  font-family: "Indie Flower";
  font-family: Pristina, Impact, fantasy;
  font-size: 100px;
}
#zone3 #container h1.vieren {
  color: orangered;
  width: 700px;
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 240px;
  position: relative;
  top: 65%;
  left: 0px;
  margin-top: -120px;
  z-index: 3;
  font-family: "Indie Flower";
  font-family: Pristina, Impact, fantasy;
}

#zone3 h1 .special {
  color: orangered;
}
#zone4 {
  height: 500px;
  background: url("../img/feest.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#zone4 .container {
  position: absolute;
  width: 100%;
  text-align: center;
}
#zone4 .container2 {
  margin-top: 100px;
  display: block;
  margin-left: 25%;
  color: white;
  padding: 5%;
  width: 40%;
  background: black;
  opacity: 0.7;
}
#zone7 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgb(255, 103, 1) 0%,
    rgba(253, 45, 56, 1) 100%
  );
  height: 200px;
}
#zone7 .container {
  position: absolute;
  display: block;
  width: 100%;
}
#zone7 .container h1 {
  display: block;
  position: absolute;
  left: 50%;
  width: 300px;
  margin-left: -360px;
  color: white;
  font-size: 50pt;
}
#zone7 .container h2 {
  display: block;
  color: white;
  position: absolute;
  top: 35px;
  right: 25%;
  font-size: 20pt;
  font-weight: 100;
}
#zone8 {
  display: block;
  width: 100%;
  height: 800px;
  background: rgb(69, 72, 77);
  background: linear-gradient(
    135deg,
    rgba(69, 72, 77, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
#zone8 h1 {
  color: white;
  font-size: 50pt;
  margin: 0px;
  padding-top: 30px;
  position: relative;
  left: 5%;
}
#zone8 h2 {
  color: white;
  font-size: 30px;
  position: relative;
  left: 5%;
  font-weight: 100;
}
#zone8 #maps {
  width: 90%;
  height: 500px;
  display: block;
  margin: 0 auto;
}
#zone10 {
  position: relative;
}
#zone10 h1 {
  position: absolute;
  font-size: 50px;
  text-align: center;
  width: 100%;
  z-index: 3;
  top: 10px;
  color: #f00;
}
#zone10 video {
  position: relative;
  z-index: 2;
  width: 100%;
}
